<div class="login-container">
  <h1>Iniciar sesión</h1>

  
  <form [formGroup]= "loginForm" (ngSubmit)= "onSubmit()">

    <label>Email:<input type="email" formControlName="email"></label>
    <br>
    <div *ngIf="loginForm.controls['email'].errors">
      <div *ngIf="loginForm.controls['email'].errors?.['email']">Formato no válido</div>
    </div>

    <label>Contraseña:<input type="password" formControlName="password"></label>
    <br>
    <div *ngIf="loginForm.controls['password'].errors">
      <div *ngIf="loginForm.controls['password'].errors?.['minlength']">La contraseña debe tener al menos 6 caracteres</div>
    </div>

    <button type="submit">Iniciar sesión</button>
    <button type="button" (click)="onRegister()">Registrarse</button>
    <button type="button" (click)="onInvitado()">Jugar modo invitado</button>

  </form>

  <span *ngIf="loginValido">¡Sesión iniciada correctamente!</span>
</div>
